.about-section{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}

/* html {
box-sizing: border-box;
} */

/* *, *:before, *:after {
box-sizing: inherit;
} */

.aboutcolumn {
float: left;
width: 25%;
margin-bottom: 16px;
padding: 0 8px;
}

.aboutcard {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

.aboutcontainer {
padding: 0 16px;
}

.aboutcontainer::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
color: white;
background-color: white;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}